<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Login {% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static "user_login/css/form.css" %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!-- <div class="container">
  <div class="jumbotron" style="color:red">
  </div>
</div> -->
<div class="container-fluid tit">
  <h2>Welcome to Online Leave Management System</h2>
</div>
<!-- login box -->
<center>

</form>
  <div class="login">
  {% load staticfiles %}
    <img src="{% static "user_login/img/logo.png" %}" class="logo" alt="Mec Logo" />
    {% block form %}
    <form name="LoginForm" action="/user/login/" method="POST">
    {% csrf_token %}
      <!-- <fieldset> -->
      
      <br>
      {{ form }}
      <br>
       <!--  <input type="text" id="username" name="username" placeholder="Username" />
        <input type="password" id="password" name="password" placeholder="password" /> -->
        <input type="submit" name="submit_form" value="Sign in" />
        
      <!-- </fieldset>  -->
    </form>
    {% endblock %}
  </div>
<center> 
<br><br>
<!-- contact details -->
<div class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon 
      glyphicon-map-marker"></span>Enter Address</p>
      <p><span class="glyphicon glyphicon-phone"></span> Enter Phone number</p>
      <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p> 
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div> 
    </div>
  </div>
</div>
  
</div>
</body>
</html>