{% extends 'base_profile.html' %}
{% block active_statistics %}
class="active"
{% endblock %}
{% block body %}
<style >
  div.wrapper1{

    width:1000px;
   
    margin-left:auto;
    margin-right:auto;
   
  }
  h1{
   font-size: 65px;
   top:50px;
 }
</style> 
<div class=" jumbotron col-sm-12">
  <h1><b><center>PROFILE</center></b></h1>
  <center>
    <table>
      <tr>
        <td><b><right>NAME</right></b></td>
        <td>&nbsp&nbsp{{profile.user.first_name}} {{profile.user.last_name}}</td>
      </tr>
      <tr>
        <td><b><right>USER NAME</right></b></td>
        <td>&nbsp&nbsp{{ profile.user.first_name }}</td>
      </tr>
      <tr>
        <td><b><right>EMAIL</right></b></td>
        <td>&nbsp&nbsp{{ profile.user.email }}</td>
      </tr>
    </br> 
  </table>
</center>
<br>
<div class="col-sm-3 col-sm-offset-6">
<a href="/user/change_password/"><input type="button" class="btn btn-success" name="change" value="Change Password" /></a>
</div>
</div>
<br>
{% endblock %}